body {
    .section1 {
        width: 100%;
        height: 620px;
        background-image: url('/assets/images/blog_girl.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    #section1__text {
        margin-top: 120px !important;
        z-index: 2;
        text-align: center;
        a{
            text-decoration: none;
            color: #bcac76;

        }
        a:hover{
            text-decoration: underline;
        }
        span {
            color: #868e96 !important;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
            margin: 20px !important;
        }

        h2 {
            font-size: 18px;
            font-weight: 400;
            padding: 20px 40px !important;
        }
    }
    .main{
        display: flex ;
        margin-top: 200px !important;
       justify-content:  center;
        .grid__container{
            display: grid ;
            grid-template-columns: auto auto auto;
            gap: 100px;
            div{
                width: 300px;
                height: max-content;
                img{
                    width: 100%;
                }
                h1{
                    font-size: 20px;
                    font-weight: 700;
                    margin: 15px 0 !important;
                }
                h1:hover{
                    text-decoration: underline;
                    color: black;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    color: #bcac76;
                }
                a:hover{
                    text-decoration: underline;
                }
                a:visited{
                    color:#bcac76 
                }
                span{
                    color: #868e96;
                    font-weight: 600;
                    font-size: 15px;
                }

            }
        }
    }
    .navigation__blog{
        display: flex;
        justify-content: space-between;
        padding: 60px !important;
        color: #868e96;
        .hover-black:hover {
            color: black;
            cursor: pointer;
        }
        
        .hover-black:hover i {
            color: black !important;
        }
    }

}

@media only screen and (max-width: 900px) {
    body {
      #homeLink {
        z-index: 10 !important;
        position: relative;
      }
    }
  }