* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
}

.activeIcon {
  color: #bcac76;
  transition: 300ms !important;
}

body .top__navbar {
  font-size: 15px;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 43px !important;
}
body .top__navbar .top__navbar-sellections {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
}
body .top__navbar .top__navbar-sellections #top__navbar-languageConatiner {
  border: none;
  border-right: solid rgba(33, 37, 41, 0.0862745098) 1px;
  padding-right: 0.7rem !important;
  cursor: pointer;
}
body .top__navbar .top__navbar-sellections #top__navbar-curencyConatiner {
  cursor: pointer;
}
body .top__navbar .top__navbar-sellections div {
  display: flex;
  align-items: center;
  gap: 3px;
}
body .top__navbar .top__navbar-sellections div i {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  transform: rotate(180deg);
  transition-duration: 300ms;
}
body .top__navbar .top__navbar-sellections div .Rotate {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 300ms;
}
body .top__navbar #nav_center {
  transform: scaleX(0.9);
  position: relative;
  right: 37px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
}
body .top__navbar .navbar__contact {
  font-size: 14px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 20px;
}
body .top__navbar .navbar__contact .top__navbar-socialMedia {
  display: flex;
  gap: 12px;
  cursor: pointer;
  margin-left: 5px !important;
}
body .top__navbar .navbar__contact .top__navbar-socialMedia i:hover {
  color: #bcac76;
  transition: 300ms !important;
}
body .top__navbar .navbar__contact img {
  width: 20px;
  height: 20px;
}
body .top__navbar .navbar__contact div {
  display: flex;
  gap: 5px;
}
body .top__navbar .navbar__contact div #number {
  font-family: "Roboto Mono", monospace !important;
  transform: scaleX(0.9);
  transform: scaleY(1.1);
  font-size: 13px;
}
body .sellections div {
  display: flex;
  flex-direction: column;
}
body .sellections a {
  padding: 5px 10px !important;
}
body .sellections a:active {
  color: #bcac76 !important;
}
body .sellections .dropdown {
  right: 125px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 70px 12px 12px !important;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  top: 80px;
  opacity: 0;
  transition: all 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .sellections .DropAnimate {
  opacity: 1 !important;
  top: 55px !important;
  z-index: 1;
}
body .sellections .DropAnimate a:hover {
  cursor: pointer;
  color: black;
}
body .sellections .usd__Dropdown {
  right: 61px;
  padding: 10px 90px 10px 16px !important;
  text-transform: uppercase;
}
body .main__navbar {
  transform: scaleY(1.05);
  padding: 27px 47px !important;
  display: flex;
  align-items: center;
  gap: 22px;
  color: #868e96 !important;
}
body .main__navbar h1 {
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .main__navbar .main__navbar-navigations {
  color: rgba(0, 0, 0, 0.389);
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 600;
}
body .main__navbar .main__navbar-navigations #homeBtn,
body .main__navbar .main__navbar-navigations #homeArrow {
  color: black;
}
body .main__navbar .main__navbar-navigations .navigation {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .main__navbar .main__navbar-navigations .navigation i {
  font-size: 12px;
  font-weight: 900 !important;
  transition-duration: 300ms;
}
body .main__navbar .main__navbar-navigations .navigation .Rotate {
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 300ms;
}
body .main__navbar .main__navbar-navigations .navigation p {
  text-transform: capitalize;
  cursor: pointer;
}
body .main__navbar .main__navbar-navigations div:hover p, body .main__navbar .main__navbar-navigations div:hover i {
  color: black;
  cursor: pointer;
}
body .main__dropdowns .home__dropdown {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .main__dropdowns .dropdown {
  right: 125px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  color: #868e96;
  font-size: 15px;
  font-weight: 400;
  width: -moz-max-content;
  width: max-content;
  top: 180px;
  left: 120px;
  opacity: 0;
  transition: all 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 6px !important;
}
body .main__dropdowns .dropdown p {
  padding: 8px 25px 5px 15px !important;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500 !important;
  transform: scaleY(1.05);
}
body .main__dropdowns .dropdown p span {
  color: #bcac76;
  background-color: #f7f5ef;
  border-radius: 5px !important;
  font-size: 10px;
  padding: 2px 5px !important;
  margin-left: 5px !important;
  font-weight: 700;
}
body .show {
  opacity: 1 !important;
  top: 135px !important;
  transition-duration: 300ms;
  z-index: 1;
}
body .show p:hover {
  color: black !important;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */