* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', sans-serif;
}


.activeIcon {
    color: #bcac76;
    transition: 300ms !important;
}

body {

    .top__navbar {
        font-size: 15px;
        background-color: #e9ecef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 43px !important;

        .top__navbar-sellections {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 20px !important;
            user-select: none;
            font-size: 14px;

            #top__navbar-languageConatiner {
                border: none;
                border-right: solid #21252916 1px;
                padding-right: 0.7rem !important;
                cursor: pointer;
            }

            #top__navbar-curencyConatiner {
                cursor: pointer;
            }

            div {
                display: flex;
                align-items: center;
                gap: 3px;

                i {
                    font-size: 12px;
                    font-weight: 700;
                    position: relative;
                    transform: rotate(180deg);
                    transition-duration: 300ms;
                }

                .Rotate {
                    transform: rotate(360deg);
                    transition-property: transform;
                    transition-duration: 300ms;
                }
            }
        }

        #nav_center {
            transform: scaleX(0.9);
            position: relative;
            right: 37px;
            user-select: none;
            font-size: 14px;
        }

        .navbar__contact {
            .top__navbar-socialMedia {
                display: flex;
                gap: 12px;
                cursor: pointer;
                margin-left: 5px !important;

                i:hover {
                    color: #bcac76;
                    transition: 300ms !important;
                }
            }

            font-size: 14px;
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }

            div {
                #number {
                    font-family: 'Roboto Mono', monospace !important;
                    transform: scaleX(0.9);
                    transform: scaleY(1.1);
                    font-size: 13px;
                }

                display: flex;
                gap: 5px;
            }
        }
    }

    .sellections {
        div{
            display: flex;
            flex-direction: column;
        }
        a{
            padding: 5px  10px!important;
        }
        a:hover {
            color: black;
            cursor: pointer !important;
        }
        a:active {
            color: #bcac76 !important;
        }
        .dropdown {
            right: 125px;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            color: #868e96;
            font-size: 14px;
            font-weight: 600;
            padding: 12px 70px 12px 12px !important;
            width: max-content;
            overflow: hidden;
            top: 80px;
            opacity: 0;
            transition: all 200ms;
            user-select: none;
        }

        .DropAnimate {
            opacity: 1 !important;
            top: 55px !important;
        }

        .usd__Dropdown {
            right: 61px;
            padding: 10px 90px 10px 16px !important;
            text-transform: uppercase;
        }
    }



    // .main__navbar {
    //     padding: 27px 47px !important;
    //     display: flex;
    //     align-items: center;
    //     gap: 22px;
    //     color: #868e96;

    //     .DropAnimate2 {
    //         opacity: 1 !important;
    //         top: 135px !important;

    //         p:first-child {
    //             padding-bottom: 10px !important;
    //             cursor: pointer;
    //         }
    //     }

    //     h1 {
    //         font-size: 15px;
    //         text-transform: capitalize;
    //         cursor: pointer;
    //         margin-top: 1px !important;
    //         font-weight: 500;
    //         color: black;
    //         user-select: none;
    //     }

    //     .main__sellections {
    //         color: rgba(0, 0, 0, 0.518);
    //         display: flex;
    //         gap: 15px;
    //         align-items: center;
    //         font-weight: 600;

    //         div {
    //             div {
    //                 user-select: none;
    //                 cursor: pointer;

    //                 #homeBtn {
    //                     color: black;
    //                 }

    //                 #homeArrow {
    //                     color: black;
    //                 }

    //                 display: flex;
    //                 align-items: center;
    //                 gap: 3px;
    //                 font-size: 15px;

    //                 i {
    //                     font-size: 12px;
    //                     font-weight: 900;
    //                     position: relative;
    //                     transform: rotate(180deg);
    //                     transition-duration: 300ms;
    //                 }

    //                 .Rotate {
    //                     transform: rotate(360deg);
    //                     transition-property: transform;
    //                     transition-duration: 300ms;
    //                 }

    //                 p {
    //                     text-transform: capitalize;
    //                     cursor: pointer;
    //                 }

    //                 p:hover i {
    //                     color: black;
    //                     cursor: pointer;
    //                 }
    //             }

    //             p:hover {
    //                 color: black;
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    // }


    // .main__dropdowns {
    //     div {
    //         right: 125px;
    //         background-color: white;
    //         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    //         position: absolute;
    //         color: #868e96;
    //         font-size: 15px;
    //         font-weight: 400;
    //         width: max-content;
    //         overflow: hidden;
    //         top: 180px;
    //         left: 120px;
    //         opacity: 0;
    //         transition: all 200ms;
    //         user-select: none;
    //         padding: 6px !important;

    //         p {
    //             padding: 8px 25px 5px 15px !important;
    //             text-transform: capitalize;
    //             font-size: 13px;
    //             font-weight: 600 !important;
    //             cursor: pointer;

    //             span {
    //                 color: #bcac76;
    //                 background-color: #f7f5ef;
    //                 border-radius: 5px !important;
    //                 font-size: 12px;
    //                 padding: 2px 5px !important;
    //                 margin-left: 5px !important;
    //             }
    //         }

    //         p:hover {
    //             color: black;
    //         }
    //     }

    // }
}