* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', sans-serif;
}


.activeIcon {
    color: #bcac76;
    transition: 300ms !important;
}

body {

    .top__navbar {
        font-size: 15px;
        background-color: #e9ecef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 43px !important;

        .top__navbar-sellections {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 20px !important;
            user-select: none;
            font-size: 14px;

            #top__navbar-languageConatiner {
                border: none;
                border-right: solid #21252916 1px;
                padding-right: 0.7rem !important;
                cursor: pointer;
            }

            #top__navbar-curencyConatiner {
                cursor: pointer;
            }

            div {
                display: flex;
                align-items: center;
                gap: 3px;

                i {
                    font-size: 12px;
                    font-weight: 700;
                    position: relative;
                    transform: rotate(180deg);
                    transition-duration: 300ms;
                }

                .Rotate {
                    transform: rotate(360deg);
                    transition-property: transform;
                    transition-duration: 300ms;
                }
            }
        }

        #nav_center {
            transform: scaleX(0.9);
            position: relative;
            right: 37px;
            user-select: none;
            font-size: 14px;
        }

        .navbar__contact {
            .top__navbar-socialMedia {
                display: flex;
                gap: 12px;
                cursor: pointer;
                margin-left: 5px !important;

                i:hover {
                    color: #bcac76;
                    transition: 300ms !important;
                }
            }

            font-size: 14px;
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }

            div {
                #number {
                    font-family: 'Roboto Mono', monospace !important;
                    transform: scaleX(0.9);
                    transform: scaleY(1.1);
                    font-size: 13px;
                }

                display: flex;
                gap: 5px;
            }
        }
    }

    .sellections {
        div {
            display: flex;
            flex-direction: column;
        }

        a {
            padding: 5px 10px !important;
        }

        a:active {
            color: #bcac76 !important;
        }

        .dropdown {
            right: 125px;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            color: #868e96;
            font-size: 14px;
            font-weight: 600;
            padding: 12px 70px 12px 12px !important;
            width: max-content;
            overflow: hidden;
            top: 80px;
            opacity: 0;
            transition: all 200ms;
            user-select: none;
        }


        .DropAnimate {
            opacity: 1 !important;
            top: 55px !important;
            z-index: 1;

            a:hover {
                cursor: pointer;
                color: black;
            }
        }


        .usd__Dropdown {
            right: 61px;
            padding: 10px 90px 10px 16px !important;
            text-transform: uppercase;
        }
    }

    .main__navbar {

        transform: scaleY(1.05);
        padding: 27px 47px !important;
        display: flex;
        align-items: center;
        gap: 22px;
        color: #868e96 !important;
        justify-content: space-between;
        margin-right: 15px !important;

        h1 {
            font-size: 15px;
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 500;
            color: black;
            user-select: none;

        }

        .iconsNavbar {
            display: flex;
            gap: 20px;

            .badge {
                position: absolute;
                top: 25px;
                right: 120px;
                font-size: 12px;
                padding: 3px 5px !important;
                border-radius: 50%;
                background: #bcac76;
                color: white;
            }

            .badge2 {
                top: 25px;
                right: 80px;
            }

            i {
                font-size: 1.5rem;
            }



            i:hover {
                color: #bcac76 !important;
                cursor: pointer;
                transition: 300ms;
            }

        }

        .borderBlack {
            border-color: black !important;
            transition: all 500ms;
        }

        @media (min-width: 1100px) {
            #searchArea {
                margin-right: calc(193px - 10vw) !important;
            }

            .main__navbar {
                h1 {
                    margin-top: 2px !important;
                }
            }

        }

        #searchArea {
            transition-property: border;
            transition: boder 500ms;
            border-bottom: 1px solid #868e9683;
            padding-bottom: 5px !important;
            outline: none;

            i {
                font-size: 17px;
                color: rgba(0, 0, 0, 0.719) !important;
                padding: 5px 20px !important;
                cursor: pointer;
            }

            input {
                border: none;
                outline: none;
                width: 200px;
            }

            input::placeholder {
                font-size: 15px;
                font-weight: 600;
                color: #868e96ae;
                padding: 10px 15px;
            }
        }

        .main__navbar-navigations {
            color: rgba(0, 0, 0, 0.389);
            display: flex;
            gap: 15px;
            align-items: center;
            font-weight: 600;


            #homeBtn,
            #homeArrow {
                color: black;
            }

            .navigation {
                display: flex;
                align-items: center;
                gap: 3px;
                font-size: 15px;
                user-select: none;

                i {
                    font-size: 12px;
                    font-weight: 900 !important;
                    transition-duration: 300ms;
                }

                .Rotate {
                    transform: rotate(180deg);
                    transition-property: transform;
                    transition-duration: 300ms;
                }

                p {
                    text-transform: capitalize;
                    cursor: pointer;
                }

            }

            div:hover p,
            div:hover i {
                color: black;
                cursor: pointer;
            }
        }

    }

    .main__dropdowns {
        @media (max-width: 1100px) {
            .pages__dropdown {
                gap: 30px !important;

                a,
                h1 {
                    font-size: 10px !important;
                }

                img {
                    width: 210px !important;
                    height: 130px !important;
                }
            }
        }

        .pages__dropdown {
            display: flex;
            gap: 30px;
            padding: 60px !important;
            transform: translate(-50%, 0%);
            left: 50% !important;

            img {
                width: 250px;
                height: 160px;
            }

            h1 {
                color: black;
                font-size: 14px;
                padding: 20px 15px 8px 15px !important;
                font-weight: 600;
            }

            .HomePage {
                display: flex;
                flex-direction: column;

                a {
                    padding: 8px 0 5px 15px !important;
                }
            }

            .otherProcess {
                display: flex;
                flex-direction: column;
            }

            .blog {
                display: flex;
                flex-direction: column;
            }

            .cutomer {
                display: flex;
                flex-direction: column;
            }
        }

        .icons__dropdown {
            left: 250px !important;

            #icon__bottom {
                color: rgba(0, 0, 0, 0.716);
                font-weight: 600;
                font-size: 14px;
                display: flex;
                justify-content: center;
                background-color: #bcac76 !important;
                padding: 15px !important;
                margin-top: 30px !important;
            }

            .icons__gridClass {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 23px !important;
                    color: rgba(0, 0, 0, 0.869);
                    font-weight: 700;

                    img {
                        margin-bottom: 20px !important;
                        width: 50px;
                        margin: 10px 12px !important;
                    }
                }
            }
        }

        a {
            text-decoration: none !important;
            color: currentColor;
            cursor: default;
        }

        .home__dropdown {
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding: 6px !important;
            right: 125px;

        }

        .docs__dropdown {
            display: flex;
            flex-direction: column;
            padding: 10px 5px !important;
            left: 400px !important;
            color: #21252916;

            a {
                padding: 25px 0px !important;
            }

            #Bootstrap {
                border-top: 1px solid #868e962a;
                margin-top: 10px !important;
            }

        }

        .shop__dropdown {
            left: 140px !important;
            display: flex;
            width: max-content;

            h1 {
                color: black;
                font-size: 14px;
                padding: 8px !important;
                font-weight: 600;
            }

            div {
                display: flex;
                flex-direction: column;
                padding: 50px 0px 50px 20px !important;

                a {
                    padding: 8px !important;
                }
            }

            img {
                width: 290px;
                object-fit: cover;
                padding-left: 30px !important;

            }
        }


        .dropdown {
            z-index: -3;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            color: #868e96;
            font-size: 15px;
            font-weight: 400;
            width: max-content;
            top: 180px;
            left: 120px;
            opacity: 0;
            transition: all 200ms;
            user-select: none;

            a {
                padding: 8px 25px 5px 15px !important;
                text-transform: capitalize;
                font-size: 13px;
                font-weight: 500 !important;
                transform: scaleY(1.05);

                span {
                    color: #bcac76;
                    background-color: #f7f5ef;
                    border-radius: 5px !important;
                    font-size: 10px;
                    padding: 2px 5px !important;
                    margin-left: 5px !important;
                    font-weight: 700;
                }
            }
        }

    }

    .show {
        opacity: 1 !important;
        top: 135px !important;
        transition-duration: 300ms;
        z-index: 4 !important;

        a:hover {
            color: black !important;
            cursor: pointer;
        }
    }

    #backgroundSlider {
        position: absolute;
        z-index: -2;
        top: 0;
    }

    .slider {
        width: 100%;
        margin: 0 auto;
        height: 500px !important;
    }

    .slide-content {
        height: 500px !important;
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: center;
        justify-content: space-around;

        .right {
            img {
                width: 330px;
            }

            .item {
                position: absolute !important;
            }

            .itemBeing {
                width: 440px;
                bottom: 20px !important;
            }

            .item2 {
                bottom: 20px !important;
                left: 20px !important;
                z-index: -1;
            }
        }

        .left {
            margin: 117px 0px !important;
            width: 553px;

            p {
                color: #868e96;
                margin-top: 20px !important;
            }

            h2 {
                font-size: 16px;
                text-transform: uppercase;
                word-spacing: 3px;
                letter-spacing: 5px;
                font-weight: 400;
            }

            h1 {
                font-size: 67px;
                padding-top: 20px !important;
                line-height: 70px;
            }

            button {
                margin-top: 48px !important;
                border: 1px solid #bcac76;
                background-color: transparent;
                color: #bcac76;
                font-size: 13px;
                text-transform: uppercase;
                word-spacing: 3px;
                letter-spacing: 4px;
                font-weight: 600;
                padding: 10px 15px !important;
            }

            button:hover {
                color: black !important;
                background-color: #bcac76;
                transition: 300ms;
            }

        }
    }

    /* Optional styling */
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;

    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: relative;
        bottom: 20px !important;
    }

    .slick-dots li {
        margin: 0 5px !important;
        display: inline-block;
    }

    .slick-dots li button {
        color: transparent !important;
        font-size: 12px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #bbb;
        cursor: pointer;
        transition: background-color 0.3
    }

    .slick-dots li.slick-active button {
        background-color: #bcac76;
    }

    .head {
        margin: 100px 70px !important;

        h1 {
            color: #868e96;
            font-size: 18px;
            letter-spacing: 4px;
            font-weight: 600;
        }

        h2 {
            padding: 10px 0 !important;
            font-weight: 700;
            font-size: 30px;
        }

        p {
            color: #868e96;
            font-size: 20px;
        }
    }

    .section1 {
        padding: 0 40px !important;

        .products__gridcontaier {
            display: flex;
            flex-direction: column;

            .productline {
                display: flex;
                justify-content: center;
                justify-content: space-around;
                .product:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                    transition: 300ms;
                }
                .product {
                    z-index: 2;
                    padding-bottom: 100px !important;
                    img {
                        width: 200px;
                    }

                    h1 {
                        font-size: 32px;
                        font-weight: 600;
                        width: 50px;
                        color: rgba(0, 0, 0, 0.777);
                    }

                    p {
                        color: #868e96;
                        font-weight: 600;
                        font-size: 16px;
                        padding: 20px 0 !important;
                    }

                    a {
                        font-size: 12px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        font-weight: 600;
                        outline: none;
                        text-decoration: none;
                        color: currentColor !important;
                        padding: 20px 0 !important;
                    }

                    a:visited {
                        color: currentColor !important;
                    }
                }

                #book {
                    img {
                        width: 320px;
                        height: 320px;
                    }

                }

                #chair {
                    display: flex;

                    #chairText {
                        position: relative;
                        left: 10px;
                        margin-top: 100px !important;
                    }

                    img {
                        z-index: -1;
                        width: 539px;
                        height: 539px;
                    }
                }

                #clock {
                    display: flex;

                    img {
                        z-index: -1;
                        width: 480px;
                        height: 480px;
                        margin-left: 20px !important;
                    }

                    .aboutText {
                        position: relative;
                        top: 90px;
                    }
                }
                #box{
                    img{
                        width: 300px;
                    }
                }
                #chair3{
                    display: flex;
                    img{
                        width: 500px;
                        z-index: -1;
                    }
                    .aboutText{
                        position: relative;
                        top:100px;
                    }
                }


            }
        }



    }
}